/* 默认样式 */
html{
    font-size: 62.5%;
    color: #222;
}
::selection{
    background-color: #b3d4fc;
    text-shadow: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
} 
dl,dt,dd{
    margin: 0;
}
a{
    color: #666;
    text-decoration: none;
}
button{
    outline: none;
}

/* 工具样式 */
.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}
.text-center{
    text-align: center !important;
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}
.invisible{
    visibility: hidden;
}
.text-hide{
    font:0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.clear::before,
.clear::after{
    content:"";
    display: block;
}
.clear::after{
    clear: both;
}

/* 基本样式 */
body{
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}
a{
    color: #666;
    text-decoration: none;
}
a:hover,
a:active{
    color: #0ae;
    text-decoration: underline;
}


/* 页面样式 */

/* header区域 */
header{
    width: 100%;
}
header .top{
    line-height: 3rem;
    background-color: #555;
    padding: 0 1.5rem;
    border-bottom: 1px solid #eec000;
}
header .top .tel{
    color: #fff;
    float: left;
}
header .top ul{
    float: right;
}
header .top ul li{
    float: left;
}
header .top ul li+li{
    border-left: 1px solid #aaa;
}
header .top ul li a{
    display: inline-block;
    padding: 0 1.5rem;
    color: #fff;
}
@media only screen and (max-width: 50em){
    header .top ul li a{
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 30em){
    header .top .tel,
    header .top ul li:nth-child(3),
    header .top ul li:nth-child(4){
        display: none;
    }
}

header .main{
    padding: 0 1.5rem;
}
header .main .logo{
    float: left;
    margin: 0;
    padding: 1rem 0.25rem;
    font-size: 1rem;
}
header .main ul{
    float: right;
}
header .main ul li{
    float: left;
    border-left: 1px  solid #eee;
}
header .main ul li a{
    display: inline-block;
    padding: 0 2.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 5.5rem;
    color: #7c7a65;
}
header .main ul li a:hover{
    color: #ffb300;
}

@media only screen and (max-width: 50em){
    header .main .logo{
        float: none;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    header .main ul{
        float: none;
        text-align: center;
    }
    header .main ul li{
        float: none;
        display: inline-block;
        border: none;
    }
    header .main ul li a{
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 30em){
    header .main ul li:first-child{
        display: none;
    }
    header .main ul li a{
        font-weight: normal;
        padding: 0 0.5rem;
        font-size: 1.4rem;
    }
}

/* container区域 */
.container{
    width: 100%;
}
.container .transaction{
    background-color: #7c7365;
}
.container .transaction .trans-content{
    width: 90%;
    margin: 0 auto;
}
.container .transaction .trans-content .trans-data{
    float: left;
    margin-left: 1.5rem;
}
.container .transaction .trans-content .trans-data span{
    line-height: 5rem;
    color: #fff;
    font-size: 1.5rem;
}
.container .transaction .trans-content .trans-data .trans-money{
    padding: 0.25rem 1rem;
    background-color: #f7f7f7;
    color: #ff9900;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    border-radius: 3px;
    box-shadow: 1px 2px 1px #222 inset;
}
.container .transaction .trans-content .trans-report{
    float: right;
}
.container .transaction .trans-content .trans-report a{
    font-size: 1.5rem;
    line-height: 5rem;
    color: #fff;
}

@media only screen and (max-width: 50em){
    .container .transaction .trans-content .trans-data{
        margin-left: 1rem;
    }
    .container .transaction .trans-content .trans-data span{
        font-size: 1.2rem;
    }
    .container .transaction .trans-content .trans-data .trans-money{
        font-size: 1.6rem;
        background-color: transparent;
        padding: 0;
        box-shadow: none;
        letter-spacing: 0;
    }
    .container .transaction .trans-content .trans-report a{
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 30em){
    .container .transaction .trans-content .trans-data,
    .container .transaction .trans-content .trans-report{
        float: none;
        text-align: center;
        /* line-height: 3rem; */
    }
    .container .transaction .trans-content .trans-data span,
    .container .transaction .trans-content .trans-report a{
        line-height: 3.6rem;
    }
}

.container .ad{
    width: 100%;
    overflow: hidden;
}
.container .ad .ad-content{
    position: relative;
    white-space: nowrap;
    left: 0;
    font-size: 0;
}
.container .ad .item{
    display: inline-block;
}
.container .ad .item img{
    display: block;
    width: 100%;
}
.container .ad ul{
    width: 78px;
    height: 10px;
    margin: 10px auto;
}
.container .ad ul li{
    float: left;
    background-color: #ccc;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    border-radius: 50%;
    cursor: pointer;
}
.container .ad ul .active{
    background-color: #999;
}
.container .ad ul li:hover{
    background-color: #999;
}

.container .feature{
    width: 90%;
    margin: 1.5rem auto 0;
}
.container .feature .item{
    padding: 1rem 0;
    float: left;
    width: 32%;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}
.container .feature .item+.item{
    margin-left: 2%;
}
.container .feature .item h3{
    margin: 0;
    float: left;
    width: 40%;
    font-size: 3.2rem;
    color: #ff9900;
    text-align: center;
}
.container .feature .item p{
    margin: 0;
    margin-left: 40%;
    font-size: 1.4rem;
    color: #999;
}
.container .feature .item p span{
    display: block;
}

@media only screen and (max-width: 50em){
    .container .feature .item h3{
        float: none;
        width: 100%;
        text-align: center;
        font-size: 2.6rem;
    }
    .container .feature .item p{
        margin: 0;
        text-align: center;
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 30em){
    .container .feature{
        width: 96%;
    }
    .container .feature .item{
        float: none;
        margin: 1.2rem 0;
        width: 100%;
    }
    .container .feature .item+.item{
        margin-left: 0;
    }
    .container .feature .item h3{
        float: left;
        width: 40%;
        font-size: 3.2rem;
    }
    .container .feature .item p{
        margin-left: 40%;
        text-align: left;
        font-size: 1.4rem;
    }
}

.container .notice{
    width: 90%;
    margin: 1.8rem auto 0; 
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}
.container .notice p{
    width: 70%;
    float: left;
    margin: 0;
    line-height: 3rem;
    color: #999;
    margin-left: 2rem;
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container .notice p .notice-time{
    font-size: 1.2rem;
    padding: 0 1rem;
}
.container .notice .notice-more{
    float: right;
    margin-right: 2rem;
    font-size: 1.4rem;
    line-height: 3rem;
    color: #ff9900;
}

@media only screen and (max-width:30em){
    .container .notice{
        width: 96%;
    }
    .container .notice p,
    .container .notice .notice-more{
        font-size: 1.2rem;
    }
    .container .notice .notice-time{
        display: none;
    }
}

.container .product{
    width: 90%;
    margin: 1.8rem auto 0;
    border-top: 2px solid #ff9900;
    box-shadow: 0 0 4px #ccc;
}
.container .product .pro-title{
    width: 20%;
    float: left;
    padding: 2rem 0;
    text-align: center;
}
.container .product .pro-title h3{
    font-size: 2.4rem;
    color: #555;
    font-weight: normal;
    margin: 0;
}
.container .product .pro-title em{
    font-size: 1.6rem;
    display: block;
    color: #666;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.container .product .pro-content{
    float: left;
    width: 80%;
    background-color: #fff;
}
.container .product .pro-content .item{
    width: 100%;
}
.container .product .pro-content .item div{
    float: left;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    height: 8rem;
    padding: 2rem 0;
    font-size: 1.4rem;
    text-align: center;
}
.container .product .pro-content .item .pro-time{
    padding-top: 1rem;
    width: 30%;
}
.container .product .pro-content .item .pro-time .month{
    font-size: 3.6rem;
    color: #999;
}
.container .product .pro-content .item .pro-time i{
    display: block;
    font-size: 1rem;
    color: #aaa;
    font-style: normal;
}
.container .product .pro-content .item .pro-info{
    width: 50%;
}
.container .product .pro-content .item .pro-info p{
    width: 50%;
    float: left;
    margin: 0;
}
.container .product .pro-content .item .pro-info p span{
    display: block;
    font-size:  2.4rem;
    color: #ff9900;
}
.container .product .pro-content .item .pro-info p span i{
    font-size: 1rem;
    color: #aaa;
    font-style: normal;
} 
.container .product .pro-content .item .buy{
    width: calc(20% - 3px);
    
}
.container .product .pro-content .item .buy a{
    display: inline-block;
    width: 80%;
    background-color: #ff9900;
    padding: 1.2rem 0;
    border-radius: 5px;
    color: #fff;
}
.container .product .pro-content .item .buy a:hover{
    background-color: #ffb300;
    text-decoration: none;
}
.container .product .pro-content .item .buy a.disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

@media only screen and (max-width: 50em){
    .container .product .pro-title{
        float: none;
        width: 100%;
        text-align: center;
    }
    .container .product .pro-title h3{
        display: inline-block;
        font-size: 2.2rem;
    }
    .container .product .pro-title em{
        display: inline-block;
        font-size: 1.4rem;
    }
    .container .product .pro-content{
        float: none;
        width: 100%;
    }
    .container .product .pro-content .item div{
        font-size: 1.2rem;
        height: 7.6rem;
    }
    .container .product .pro-content .item .pro-time{
        padding-top: 1.8rem;
    }
    .container .product .pro-content .item .pro-time .month{
        font-size: 2.4rem;
    }
    .container .product .pro-content .item .pro-info p span{
        font-size: 2rem;
    }
}
@media only screen and (max-width: 30em){
    .container .product{
        width: 96%;
    }
    .container .product .pro-title h3{
        display: block;
        margin-bottom: 0;
    }
    .container .product .pro-title em{
        font-size: 1.2rem;
    }
    .container .product .pro-content .item .pro-time{
        width: 30%;
        border: none;
    }
    .container .product .pro-content .item .pro-time .month{
        font-size: 2rem;
    }
    .container .product .pro-content .item .pro-info p span{
        font-size: 1.8rem;
    }
    .container .product .pro-content .item .pro-info{
        width: 70%;
        border: none;
    }
    .container .product .pro-content .item .buy{
        padding-top: 1rem;
        width: 100%;
        border-left: none;
    }
}

.container .about{
    width: 100%;
    margin-top: 1.8rem;
    padding: 3rem 0;
    background-color: #fff;
    border-top: 2px solid #eee;
}
.container .about .about-content{
    width: 90%;
    margin: 0 auto;
}
.container .about .about-content h3{
    width: 20%;
    float: left;
}
.container .about .about-content h3 a{
    display: inline-block;
    width: 100%;
    height: 0;
    padding-top: 35px;
    overflow: hidden;
    background: url(../img/logo@1x.png) no-repeat left;
    background-size: 150px 35px;
    filter: grayscale(100%);
}
.container .about .about-content dl{
    float: left;
    width: 15%;
    /* margin-right: 8rem; */
}
.container .about .about-content dl dt{
    font-size: 1.6rem;
    margin: 0.8rem 0; 
}
.container .about .about-content dl dd{
    font-size: 1.4rem;
    margin: 0.5rem 0;
    cursor: pointer;
}

@media only screen and (max-width: 50em){
    .container .about .about-content h3{
        display: none;
    }
    .container .about .about-content dl{
        width: 18%;
    }
    .container .about .about-content dl dt{
        font-size: 1.4rem;
    }
    .container .about .about-content dl dd{
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 30em){
    .container .about .about-content{
        width: 92%;
    }
    .container .about .about-content dl dt{
        font-size: 1.2rem;
    }
    .container .about .about-content dl dd{
        font-size: 1rem;
    }
}

/* footer区域 */
footer{
    width: 100%;
    text-align: center;
    background-color: #ededed;
    padding: 3rem 0 4rem;
}
footer ul{
    text-align: center;
}
footer ul li{
    display: inline-block;
    height: 27px;
    margin: 0 7px;
    background: url("../img/cert1.png") no-repeat;
    background-size: 466px 447px;
}
footer ul li:nth-child(1){
    width: 38px;
    background-position: -369px -45px;
}
footer ul li:nth-child(2){
    width: 78px;
    background-position: -110px -96px;
}
footer ul li:nth-child(3){
    width: 36px;
    background-position: -426px -90px;
}
footer ul li:nth-child(4){
    width: 63px;
    background-position: -401px -186px;
}
footer ul li:nth-child(5){
    width: 22px;
    background-position: -48px -48px;
}
footer ul li:nth-child(6){
    width: 75px;
    background-position: 0 -320px;
}
footer ul li:nth-child(7){
    width: 30px;
    background: url("../img/cert2.png") no-repeat;
    background-size: 25px;
}
footer p{
    color: #aaa;
}